*{
    /* border:dashed red 1px; */
    font-family:Georgia, 'Times New Roman', Times, serif;
}

html { /* background image */
    background: url("../images/atlas.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }
  

.navbar{
    background-color: rgba(0, 0, 0, 0.7);
    border: solid #ffdd57 1px;
}


#drinkImg{
  max-width: 400px;
}

#main-content{
    background-color: rgba(0, 0, 0, 0.7);
}

#quote-recipe-box{
    display: flex;
    align-items: center; 
    justify-content: center;
}

 #quote-box{
    margin: 0px 100px 0px 100px;
    border: solid #ffdd57 1px;
}
.card-image img{
    height:200px !important;
    width: 200px !important;
}

.dropdown {
    width: 100%;
  }
  .dropdown-trigger {
    width: 100%;
  }
  #menuBtn {
    width: 100%;
  }
  #drinkBtns{
    margin-top: 1rem;
  }