/* *{
    border:dashed red 1px;
} */

html { /* background image */
    background: url("../images/atlas.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  

.navbar{
    background-color: rgba(0, 0, 0, 0.7);
    border: solid rgb(208, 146, 1) 1px;
}


#drinkImg{
    height: 100%;
    max-width: 400px;
}

#main-content{
    background-color: rgba(0, 0, 0, 0.7);
}

#drink-box{
    display: flex;
    align-items: center; 
    justify-content: center;
    /* display: none; */
}

/* #greeting{
    display: none;
} */

 #quote-box{
    padding: 30px;
}
.card-image img{
    height:200px !important;
    width: 200px !important;
}
